img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  border-width: 10px;
}

.cart-container {
  margin-top: 64px;
  width: 70%;
  height: 90%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
}

.header {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: 10px auto;
  justify-content: space-between;
}

.list-cart-item {
  height: 80%;
  width: 100%;
  overflow-y: auto;
}

.form {
  display: flex;
  flex-flow: wrap column;
  width: 250px;

  justify-content: flex-start;
}
.form-margin {
  margin: 0 20px;
}
.form label {
  margin-bottom: 6px;
}
.form input {
  padding: 2px;
  text-align: center;
}

.placeholder {
  color: darkgray;
  font-size: 13px;
}

.cart-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin-bottom: 20px;
  padding: 5px;
  width: 90%;
  margin: auto;
}

.span-col1 {
  grid-column: span 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.flexend {
  align-self: flex-end;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 40px;
}
.cart-item-details label {
  margin-bottom: 10px;
}

.cart-item-details input {
  width: 50px;
}

.remove {
  padding-top: 5px;
  color: #e44c4c;
  cursor: pointer;
  font-size: 14px;
}

.number-input {
  width: 80px;
  text-align: center;
  margin-bottom: 5px;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.subtotal {
  text-align: right;
}
.total {
  margin: 20px 20px;
  font-size: 20px;
  font-family: serif;
  border-bottom: 1px black solid;
  align-self: center;
}

.errorMessage {
  color: rgb(238, 90, 90);
  font-size: 13px;
}

.footer {
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  margin: 0 auto;
}

.checkout-btn {
  margin-top: 5px;
  border: none;
  padding: 5px 10px;
  background: linear-gradient(to bottom right, #b8d7ff, #8eb7eb);
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #202020;
}
.checkout-btn:hover {
  background: #447bc3;
}
