.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  background: #33b5e5;
  padding: 20px 200px 20px 200px;
  background-color: cornflowerblue;
  position: fixed;
  z-index: 100;
  width: 100% !important;
  margin: 0;
}
